{% extends 'base.html' %}


{% block content %}

<div class="content">
  <div class="c-title">
    <h6> <a href="{% url 'blog:detail' my_id=object.id %}">{{ object.title }}</a> </h6>
  </div>
  <div class="c-content">
<p>{{ object.content }}</p>
  </div>

  <div class="c-pup">
    <span>pup date : {{ object.pub_date }}</span>
  </div>
</div>


<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<input type="submit" value="send">
</form>


<br>
{% if comments %}

    {% for comment in comments %}

      <ul>
        <li>{{comment.pk}},{{ comment.comment }}
            <ul>
              <li class="comment-detail">@ {{comment.user.username}} | {{comment.time }}</li>
              <hr>
              {# {% if re_comments %} #}
                {% for reply in comment.recomment.all %}
                  <li>{{ reply.re_comment }}</li>
                  <li class="comment-detail">@ {{reply.user.username}} | {{reply.time }}</li>
                {% endfor %}
              {# {% endif %} #}
            </ul>
        </li>
      </ul>
    {% endfor %}

{% else %}

    <ul>
      <li>No Comments for this post !</li>
    </ul>



{% endif %}



{% endblock %}
